<div class="home__container">

	<app-card gameCover="assets/ac-cover.jpg" gameLabel="PROMOTION" gameType="PS5/PS4 | Disc" gamePrice="R$ 89,99">
	</app-card>

	<app-card gameCover="assets/bt-1.jpg" gameLabel="BEST OFER YEAR" gameType="PS4 PS5 | DIGITAL " gamePrice="R$ 399,69">
	</app-card>

	<app-card gameCover="assets/bt-hardline.jpg" gameLabel="EXCLUSIVE" gameType="PS4 | DIGITAL" gamePrice="R$ 129,69">
	</app-card>

	<app-card gameCover="assets/bt-5.jpg" gameLabel="DISC" gameType="PS5 | DISC " gamePrice="R$ 399,69">
	</app-card>

</div>
